{% extends 'base.html' %}
{% load static %}

{% block fonts %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Unbounded:wght@700&display=swap"
        rel="stylesheet">
{% endblock %}

{% block context %}
  <section id="catalog">
    <div class="container p100">
      <div class="catalog">
        <div class="title">Все букеты</div>
        <div class="catalog__block">
          <div class="recommended__elems ficb">
            {% for bouquet in bouquet_context %}
              <div class="recommended__block">
              <a href="#"><img src="{{ bouquet.img_path }}" alt="flower"></a>
              <div class="recommended__block_elems ficb">
                <span class="recommended__block_intro">{{ bouquet.name }}</span>
                <span class="recommended__block_price">{{ bouquet.price }} руб</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="pagination">
    <span class="step-links">
      {% if bouquets_page.has_previous %}
        <a href="?page={{ bouquets_page.previous_page_number }}">предыдущая</a>
      {% endif %}
      <span class="current">Страница {{ bouquets_page.number }} из {{ bouquets_page.paginator.num_pages }}.</span>
      {% if bouquets_page.has_next %}
        <a href="?page={{ bouquets_page.next_page_number }}">следующая</a>
      {% endif %}
    </span>
  </div>
  <section id="consultation">
    <div class="container">
      <div class="consultation">
        <div class="title consultation__title">Оставьте заявку на консультацию</div>
        <form action="{% url 'consultation_request' %}" method="post" class="consultation__form">
          {% csrf_token %}
          {{ consultation_request_form.name }}
          {{ consultation_request_form.phone_number }}
          {% if request.method == 'POST' %}
            {% if consultation_request_form.phone_number.errors %}
              <div class="error">{{ consultation_request_form.phone_number.errors }}</div>
            {% endif %}
            {% if consultation_request_form.agree_to_privacy_policy.errors %}
              <div class="error">
                <ul>
                  <li>Вы должны согласиться с политикой конфеденциальности</li>
                </ul>
              </div>
            {% endif %}
          {% endif %}
          <div class="chekbox fic">
            <input name="agree_to_privacy_policy" type="checkbox" class="singUpConsultation__ckekbox"
                   checked>
            <span class="chekbox__intro">Я согласен(а) с политикой конфидециоальности</span>
          </div>
          <button type="submit" class="consultation__form_btn">Отправить</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
